---
import Layout from "../layouts/Layout.astro";
// import  {Auth} from "../components/auth";
import { Button } from "../components/Button";
import AuthProvider from "../components/auth";

---

  <AuthProvider  client:load  >
	  <h1>Welcome to Astro.</h1>
    <p>
      This is a demo of Astro, a new static site builder for the modern web.
    </p>
    <p>
  </AuthProvider>
<Button client:load />
<!-- <Auth  client:load /> -->